.big-div {
    text-align: center;
    padding: 5%;
}

.img-single-event{
    max-width:35%;
   float: center;
   margin-bottom: 3rem;
}

.h1-single-event{
    display: inline-flex;
    vertical-align:top;
}

.h3-single-event{
    text-align: center;
    margin-bottom: 2rem;
}

.description-single-event{
    margin-bottom: 3rem;
    font-size: x-large;
    text-align: justify;
}

.p-single-event {
    font-size: large;
    text-align: justify;
}