* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system;
}

.titulo{
   text-align: center;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;

}

.container-home {
  margin: 5%;
}

.migramind > img {
  max-width: 40%;
    height: 100%;
}

.migracode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.migracode>h3 {
  padding-left: 5%;
  text-align: justify;
  line-height: 1.6;
}

.animated-shadow {
     color: #A2D6E8;
     font: normal 70px Genty Round, sans-serif;
     height: 100px;
     left: 50;
     letter-spacing: 5px;
     text-align: center;
     text-transform: uppercase;
     width: 100%;
     animation: move linear 2000ms infinite;
     z-index: 2
   }

.card-body{
   height: rem;
   width: 100%;
   object-fit: cover;
   font-size: small;
}

.card-title{
   font-size:large;
}

.card-text{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding-bottom: 15px;
   text-align: center;
   margin-bottom: 50;
}


.btnbtn-primary{
   padding: 0.5rem;
   width: 100px;
   margin: auto;
   border: none;
   background: #A2D6E8;
   color: #FFFFFF;
   border-radius: 560px;
   
}