
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
}

.color-nav {
  background-color: #a2dbef;
}

.App-header {
  background-color: #eff2f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.card_event {
  box-shadow: 0 1px 10px;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 70%;
  margin: 5% auto 5% auto;
}

.card_body > img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card_title {
  padding: 1rem;
  text-align: center;
}

.city_date_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.city_date_time > p {
  margin-bottom: 0;
}

.card_button {
  padding: 1rem;
  margin: 1rem;
  border: 3px solid #a2D6E8;
  background: transparent;
  color: #a2D6E8;
  border-radius: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
